<!doctype html>
<html lang="zh-tw" ng-app="page">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="勞基法是保障勞工權益的最低底限，希望藉由建置這樣的網路資訊平台，揭露勞動條件違反勞基法的公司，並督促政府積極監督，落實勞基法的精神，能改善台灣的勞動環境。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我不難過 | 好工作讓你好開心</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<!--    <link rel="stylesheet" href="material.min.css">-->
    <link rel="stylesheet" href="css/style.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/script.js"></script>
    
    
  </head>
  <body ng-controller="MgCtrl as ctl">
  <header>
  <div class="logo"><img src="img/logo.png" alt="我不難過 | 好工作讓你好開心"></div>
      <ul class="menu-bar">
          <li class="menu-item"><a href="">我們是誰</a></li>
          <li class="menu-item"><a href="">在做什麼</a></li>
          <li class="menu-item"><a href="">連絡我們</a></li>
      </ul>
    </header>
     <div class="features">
      <div class="feature-item">
          <img src="img/index-icon1.png" alt="勞工權益" class="feature-img">
          <h3 class="feature-title">勞工權益</h3>
          <p class="feature-body">不定期更新勞工必須知道的<br>
          權益與知識</p>
      </div>
      <div class="feature-item">
          <img src="img/index-icon2.png" alt="我不灘過 : 面試幫手" class="feature-img">
          <h3 class="feature-title">我不難過 : 面試幫手</h3>
          <p class="feature-body">隨時檢測你的工作<br>
          是否符合基本權益</p>
      </div>
      <div class="feature-item">
          <img src="img/index-icon3.png" alt="合格企業" class="feature-img">
          <h3 class="feature-title">合格企業</h3>
          <p class="feature-body">隨時檢測你的工作<br>
              是否符合基本權益</p>
      </div>
      
      
      <ul class='int-job-type'><h3>我面試的是</h3> <br>
      <li><input type="radio" name="job" id="job-1" value="正職"/><label for="job-1"><img src="img/career.png" alt=""><br>正職</label></li><li>
<input type="radio" name="job" id="job-2" value="工讀"/><label for="job-2"><img src="img/partime.png" alt=""><br>工讀</label></li><li>
<input type="radio" name="job" id="job-3" value="派遺"/><label for="job-3"><img src="img/outsourcing.png" alt=""><br>派遺</label>
             </li>
              </ul>
      </div>
  
  <div  class='contents'>
   
  <h4 class='tip'>面試前記得打開手機 複習一下該有的權利喔</h4>
   
   <h4 class="comp-name" ><input class="mdl-textfield__input" type="text" id="company" style="text-align: center;" placeholder="我面試的公司是"/></h4>
            
   
    <div ng-repeat="rule in ctl.rules" class="{{rule.getStyle()}}">
        <h4>{{rule.title}}<a ng-if="rule.ref_page" href="{{rule.ref_page}}" class="ref-link" target="_blank">參考連結</a></h4>
        <div ng-if="rule.options" class="yn-div">
        <a href="javascript:void(0);" ng-click="ctl.rmStyle(rule,'rule-selected-no');ctl.addStyle(rule,'rule-selected-yes');" class="btn btn-yes">{{rule.options.y}}</a>
        <a href="javascript:void(0);" ng-click="ctl.rmStyle(rule,'rule-selected-yes');ctl.addStyle(rule,'rule-selected-no');" class="btn btn-no">{{rule.options.n}}</a>
        </div>
        </div>
        <a href="thankyou.html" class="submit">提交</a>
        
</div><!-- ng-controller MgCtrl -->
 
 <footer>
     <ul class="footer-menu">
         <li class="footer-item">保密協定</li>
         <li class="footer-item">常見問題</li>
         <li class="footer-item">留言給我們</li>
         <li class="footer-item">管理系統</li>
         <li class="footer-item">網站地圖</li>
     </ul>
     <p class="reserved-text">NewCreation (c) 2015 All Rights Reserved</p>
 </footer>
  
  
  
 </body>
</html>
